<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-choix 
        [choix]="updatedChoix"
        (choixUpdated)= "choixUpdated($event)"
        [ajout]="ajout"> 
        </app-update-choix>
        
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">


            <table class="table table-striped">
                <thead>


                    <tr>
                        <th>Id</th>
                        <th>Nom Choix</th>
                    </tr>

                </thead>
                <tbody *ngFor="let choix of choix">
                    <tr>
                        <td>{{choix.idChoix}}</td>
                        <td>{{choix.nomChoix}}</td>
                        <td><a class="btn btn-success" (click)="updateChoix(choix)">Editer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>