<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <label>Choix </label>
        <select class="form-control form-control-lg" id="idChoix" name="idChoix"
        [(ngModel)]="idChoix" (change)="onChange()">
        <option *ngFor="let choix of choix" value="{{choix.idChoix}}">
            {{choix.nomChoix}}
         </option>
        </select>
        </div>
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <thead>
        <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date de préparation</th> <th>Choix</th> </tr>
    </thead>
    <tbody *ngFor="let food of food">
    
    <tr>
    <td>{{food.idFood}}</td>
    <td>{{food.nomFood}}</td>
    <td>{{food.prixFood}}</td>
    <td>{{food.datePreparation | date:'dd/MM/yyyy'}}</td>
    <td>{{food.choix?.nomChoix}}</td>
    <!-- <td><a class="btn btn-danger" (click)="supprimerfood(food)">Supprimer</a></td>
    <td><a class="btn btn-success" [routerLink]="['/updatefood',food.idFood]">Modifier</a></td> -->
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>


