<div class="container">
    <div>
        <h2>Ajouter Plat :</h2>
    </div>
    <form>
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Plat</label>
            <input type="text" [(ngModel)]="newfood.idFood" name="idFood" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Plat</label>
            <input type="text" [(ngModel)]="newfood.nomFood" name="nomFood" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Plat</label>
            <input type="number" [(ngModel)]="newfood.prixFood" name="prixFood" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date de préparation</label>
            <input type="date" [(ngModel)]="newfood.datePreparation" name="datePreparation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Choix</label>
            <select class="form-control form-control-lg" id="idChoix" name="idChoix" [(ngModel)]="newIdChoix">
                <option *ngFor="let choix of choix" [value]="choix.idChoix">
                    {{choix.nomChoix}}
                </option>
            </select>
        </div>
        <div class="col-sm-16 col-md-16 col-lg-16">
            <label class="mb-2">Image :</label>
            <input type="file" (change)="onImageUpload($event)" name="logo" class="form-control">
        </div>
        <div class="col-sm-16 col-md-16 col-lg-16">
            <img [src]="imagePath" class="card-img-top img-fluid rounded-start"
            style="width: 500px; height: 300px" />
        </div>

        <div class="mt-2">
            <button type="submit" (click)="addFood()" class="btn btn-success">Ajouter</button>
        </div>
    </form>
</div>